<a href="https://colab.research.google.com/github/HimanshuSahoo/Himanshu_Python/blob/main/Support_Vector_Machine_Assignment_2_Forest_Fires.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns

In [2]:
forestfires = pd.read_csv("forestfires.csv")

In [3]:
forestfires

    month  day  FFMC    DMC  ...  monthnov  monthoct  monthsep  size_category
0     mar  fri  86.2   26.2  ...         0         0         0          small
1     oct  tue  90.6   35.4  ...         0         1         0          small
2     oct  sat  90.6   43.7  ...         0         1         0          small
3     mar  fri  91.7   33.3  ...         0         0         0          small
4     mar  sun  89.3   51.3  ...         0         0         0          small
..    ...  ...   ...    ...  ...       ...       ...       ...            ...
512   aug  sun  81.6   56.7  ...         0         0         0          large
513   aug  sun  81.6   56.7  ...         0         0         0          large
514   aug  sun  81.6   56.7  ...         0         0         0          large
515   aug  sat  94.4  146.0  ...         0         0         0          small
516   nov  tue  79.5    3.0  ...         1         0         0          small

[517 rows x 31 columns]

In [4]:
data = forestfires.describe()

In [5]:
##Dropping the month and day columns
forestfires.drop(["month","day"],axis=1,inplace =True)

In [6]:
##Normalising the data as there is scale difference
predictors = forestfires.iloc[:,0:28]
target = forestfires.iloc[:,28]

In [7]:
def norm_func(i):
    x= (i-i.min())/(i.max()-i.min())
    return (x)

In [8]:
fires = norm_func(predictors)

In [9]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test = train_test_split(predictors,target,test_size = 0.25, stratify = target)

In [11]:
model_linear = SVC(kernel = "linear")
model_linear.fit(x_train,y_train)
pred_test_linear = model_linear.predict(x_test)

In [12]:
np.mean(pred_test_linear==y_test)

0.9769230769230769

In [13]:
# Kernel = poly
model_poly = SVC(kernel = "poly")
model_poly.fit(x_train,y_train)
pred_test_poly = model_poly.predict(x_test)

In [14]:
np.mean(pred_test_poly==y_test)

0.7769230769230769

In [15]:
# kernel = rbf
model_rbf = SVC(kernel = "rbf")
model_rbf.fit(x_train,y_train)
pred_test_rbf = model_rbf.predict(x_test)

In [16]:
np.mean(pred_test_rbf==y_test)

0.7538461538461538

In [17]:
#'sigmoid'
model_sig = SVC(kernel = "sigmoid")
model_sig.fit(x_train,y_train)
pred_test_sig = model_rbf.predict(x_test)

In [18]:
np.mean(pred_test_sig==y_test)

0.7538461538461538